body {
    font-family: sans-serif;
}

div {
    display: flex;
    padding: 1rem;
    gap:1em;
}

img {
    border-radius: .5rem;
}
.flex-column {
    flex-direction: column;
}

.btn {
    font-weight: bold;
    font-size: 1.8em;
    text-decoration: none;
    color: black;
    background-color: #e4e4e7;
    box-shadow: 0  4px 6px -1px rgba(0, 0, 0, .1);
    border-radius: .5rem;
    padding: 0.5rem 1rem ;
}

.logo {
    font-size: 2.5em;
}

img.moi {
   border-radius: 3em;
}

img.logo {
    width: fit-content;
}

.navbar {
    display: flex;
    margin-top:30px;
    padding-bottom: 30px;
    flex-direction: row;
    box-shadow: 0 10px 15px -3px rgba(0, 0 , 0, .1);
}

.navbar__link {
    margin-left: 30px;
    color:black;
    font-weight: bold;
    text-decoration: none;
}

.navbar__link--purple {
    color: #a5b4fc;
}

.navbar__link--logo {
    font-size: 2.5em;
}

.navbar__link--standard {
    font-size: 2em;
    margin-left: 30px;
    align-content: space-evenly;
}

.navbar__link--logo img {
    height: 1.5em;
}

.content {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px;
    max-width: 70%;
}
.current {
    color: green;
}

.flex-column div {
    justify-content: center;
}
