body {
    font-family: sans-serif;
}

.navbar {
    display: flex;
    margin-top:30px;
    padding-bottom: 30px;
    flex-direction: row;
    box-shadow: 0 10px 15px -3px rgba(0, 0 , 0, .1);
}

.navbar__link {
    margin-left: 30px;
    color:black;
    font-weight: bold;
    text-decoration: none;
}

.navbar__link--purple {
    color: #a5b4fc;
}

.navbar__link--logo {
    font-size: 2.5em;
}

.navbar__link--standard {
    font-size: 2em;
    margin-left: 30px;
    align-content: space-evenly;
}

.content {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px;
    max-width: 70%;
}
.current {
    color: green;
}
